@import 'variables';

%popover_makeup {
  position: absolute;
  top: 99%;
  right: 0;
  z-index: 9;
  // opacity: 0;
  // transform: scale(0);
  transition: all 0.15s linear;
  transform-origin: top right;
}

%popover_wrapper_makeup {
  position: relative;
  top: 9px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  background-color: $common-text-color;
  color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 32px rgba(3, 3, 3, 0.2);
}
